$vo-mobile-top: 2.2rem;
$vo-mobile-bottom: 2.8rem;
$vo-mobile-header-height:2.5rem;
$vo-mobile-filter-height: 2.5rem;
$vo-mobile-filter-picker-top: 2.5rem;
$vo-mobile-filter-picker-tab-max-width: calc(33vw);
$vo-mobile-title-height: 2.5rem;
$vo-mobile-table-width: calc(100vw);
$vo-mobile-table-max-height: 16rem;